.fieldWrap {
  width: 80%;
  margin: auto;
  max-height: 320px;
  overflow: auto;
}
.fieldType {
  margin: 8px 0;
}
.attrList {
  min-height: 24px;
  border-radius: 16px;
  background-color: #efefef;
}
.axisWrap {
  margin-left: 32px;
}
.axisItem {
  min-height: 24px;
}